@font-face {
  font-family: "Ysabeau SC";
  src: url(./fonts/YsabeauSC-VariableFont_wght.ttf);
  font-style: normal;
  
}
:root{
  --fontMain: Ysabeau SC;
  --darkGray: #353B39;
  --lightGray: #A2A8A5;
  --darkGray2: #4A514F;
  --buttonHover: #47302E;
}

.App{
  overflow-y: auto;
  overflow-x: hidden;
}